html {
  scroll-behavior: smooth;
}


.welcome {
  height: 100vh;
}

/* .project-tile {
  padding: 1rem;
  font-family: 'Roboto Mono', monospace;
} */

.contact__section {
  height: 70vh;
}

.contact__btn {
  font-size: 1em;
  margin: 1rem;
}

body {
  font-family: 'Roboto Mono', monospace;
}

/* @media (max-width: 600) {
  html {
    font-size: 30%;
  }
} */

.avatar {
  width: 15%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 5px;
  box-shadow: 4px 4px rgba(0,0,0,0.19);
  margin-bottom: 1rem;
}

.h2-title {
  margin-top: 2rem;
}

.study-row {
  /*max-width: 90%;*/
  margin-bottom: 3rem;
  border-width: 1px;
  border-style: solid;
  border-right-width: 0px;
  border-left-width: 0px;
  padding: 1rem;
  border-bottom-width: 0px;
}

